@media (max-width:960px) {

    header {
        padding: 10px 15px;
    }
    #nave ul li a {
        font-size: 15px;
    }

    header button{
        padding: 15px 10px;
        font-size: 15px;
    }

    #main {
        flex-wrap: wrap;
    }

    #main .text-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main .text-main h1,
    #main .text-main p {
        text-align: center;
    }

    #centro-tec {
        flex-wrap: wrap;
    }

    #centro-tec h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 60px;
    }

    #centro-tec .centro-tec-grid {
        flex-wrap: wrap;
    }
    
    #centro-tec .centro-tec-grid .centro-tec-child-02 div {
      margin-left: -50px;
    }
    #centro-tec .centro-tec-grid .centro-tec-child-01 {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .centro-tec-grid .centro-tec-child-01 h2{
        text-align: center;
        font-size: 30px;
        max-width: 400px;
    }

    #centro-tec .centro-tec-child-02 {
        display: flex;
    }

    #centro-tec .centro-tec-child-02 span {
        margin: 20px 0;
    }

    #centro-tec .centro-tec-child-02 div {
        display: flex;
        flex-direction: column;
    }

    .h1-cursos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .h1-cursos h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    #cursos .cursos-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #cursos .cursos-grid img {
        width: 300px;
        height: 300px;
        margin: 20px 0;
    }

    #cursos .cursos-grid-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cursos .cursos-grid .cursos-grid-text h1 {
        font-size: 30px;
        text-align: center;
    }

    .h1-incubadora {
        display: flex;
        flex-direction: column;
    }

    .h1-incubadora h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    #incubadora {
        display: flex;
        flex-direction: column;
    }

    #incubadora .text-incubadora {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        max-width: 400px;
    }

    #incubadora .text-incubadora p {
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }

    .h1-programas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .h1-programas h1 {
        font-size: 40px;
        text-align: center;
        margin: 20px 0;
    }

    #programas {
        justify-content: center;
    }


    #programas .programas-grid {
        text-align: center;
    }

    .h1-professores {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h1-professores h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #professores .professores-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .professores-grid .img {
        width: 250px;
    }

    .professores-grid .text-professor .foto {
        width: 100px;
    }

    .h1-sobre {
        display: flex;
    }

    .h1-sobre h1 {
        font-size: 40px;
        margin-top: -50px;
    }

    .h1-sobre img {
        width: 100px;
    }

    #sobre {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sobre .text-sobre {
        text-align: center;
    }

    #sobre .img-sobre {
        width: 250px;
        margin-top: 30px;
    }

    .novidade h1 {
        font-size: 50px;
    }

    .novidade-card{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .novidade-card .card-foto1 {
        max-width: 400px;
        padding: 10px;
    }

    .novidade-card .card-foto1 img {
        width: 100%;
    }

    .novidade-card .grupo-foto {
        display: flex;
        justify-content: center;
        padding: 20px;
        max-width: 500px;
    }

    .novidade-card .grupo-foto .foto {
        width: 500px;
        margin-left: -100px;
    }
    
    .novidade-card .grupo-foto .foto .card-foto2 img{
        width: 450px;
        margin-left: 50px;
    }

    .foto .posts .post-child2 .post-btn .post-redes{
        margin-left: -100px;
    }

    .foto .posts .post-child {
        margin-left: 150px;
    }

    .foto .posts .post-child p{
        margin-right: 100px;
    }

    .faq {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .faq .faq-child  .faq-svg{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .faq .faq-child .ul {
        align-items: center;
    }

    .faq .faq-img {
        max-width: 400px;
        margin-left: 20px;
        margin-right: 0;
    }

    .faq .faq-img img {
        width: 100%;
    }

    #copy .copy-child{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
    }

}

@media (max-width: 700px) {
    
    header .hamburguer {
        position: absolute;
        margin-left: 200px;
        display: block;
    }
    
    nav {
        display: none;
    }
    #nave ul {
        position: absolute;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        background-color: rgba(248, 244, 244, 0.9);
        border: 1px solid #000;
        border-radius: 20px;
        padding: 20px;
    }
    
}

@media (max-width: 550px) {

    #main .text-main h1{
        font-size: 30px;
        max-width: 450px;
    }

    #main .text-main p {
        max-width: 450px;
    }

    .h1-professores h1 {
        padding-left: 10px;
    }
    
    .novidade-card .grupo-foto .foto .card-foto2 img {
        width: 400px;
    }

    .foto .post-child p{
        margin-left: -100px;
    }

    .grupo-foto .post-btn {
        margin-left: 10px;
        padding: 0 80px;
    }

    .grupo-foto .post-child2 p {     
        padding-left: 30px;
    }

    .foto {
        width: 400px;
    }
} 